<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h4 class="card-title text-center text-uppercase"><b>Sign In</b></h4>
          <form class="form-signin">
            <div class="form-group">
              <label for="username" class="sr-only">Username</label>
              <input type="text" class="form-control" placeholder="Username" id="username" autofocus autocomplete="off">
            </div>

            <div class="form-group">
              <label for="password" class="sr-only">Password</label>
              <input type="password" class="form-control" placeholder="Password" id="password">
            </div>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>

            <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Sign In</button>
            <hr class="my-4">

            <button class="btn btn-lg btn-block btn-google text-uppercase" type="submit"><i class="fab fa-google mr-2"></i>
              Sign in with Google</button>
            <button class="btn btn-lg btn-block btn-facebook text-uppercase" type="submit" (click)="loginFB($event)"><i
                class="fab fa-facebook-f mr-2"></i>
              Sign in with Facebook</button>
          </form>
        </div>
      </div>

    </div>
  </div>

</div>